.todoApp {
    width: 400px;
}

.todo.completed {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    color: #9e9e9e;
    position: relative;
}